:root {
    --semiCuaW: calc(calc(200px + 5vw));
    --semiCuaH: calc(calc(200px + 5vw)/16*11.85);
    --vRectW: calc(calc(250px + 5vw)/19*16);
    --vRectH: calc(250px + 5vw);
    --ShadowBoxB: linear-gradient(135deg, rgb(238, 238, 238), rgb(255, 255, 255));
    --ShadowBox: drop-shadow(3px 3px 5px rgba(128, 128, 128, 0.784));
    --RouseEspecial: rgb(255, 1, 79);
    --GreyEspecial: rgb(80, 80, 80, 0.2);
    --WhiteSpecial: rgb(236, 240, 243);
    --MenuFontS: calc(4px + 0.75vw)
    
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

main>* {
    
    padding: 40px 0 40px 0;
   color: "";
}


hr {
    position: relative;
    top: 20px;
    padding: 1px 0 0 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 85vw;
    background-size: 2px !important;
    border: var(--GreyEspecial) !important;
    background: var(--GreyEspecial);
}

a {
    font-size: var(--MenuFontS);
}

button {
    font-size: x-large;
    font-weight: 400;
    color: rgb(80, 80, 80);
}

p,
label {
    font-size: calc(7px + 0.75vw);
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.nota-pie {
    -ms-text-justify: center;
    text-align: center;
    font-size: 10px;
    padding-top: 30px;
}

strong {
    color: var(--RouseEspecial);
}

.upperFont {
    text-transform: uppercase;
}

.paddingTop {

    padding: 200px 3vw 0 3vw;
}

body {
    
    overflow-x: hidden;
    margin: 0;
    background: rgb(236, 240, 243);
}

.gridAjust {
    display: grid;
    grid-template-columns: 100vw;
}

.shadowBox {
    filter: var(--ShadowBox);
}

.marginX4 {
    margin: 0 40px 0 0;
}

.pictures270 {
    margin: 25px 25px 10px 25px;
    border-radius: 15px;
}

.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCenter {
    text-transform: capitalize;
    text-align: center;
    text-justify: auto;
}

.baseLine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colorRouse {
    color: var(--RouseEspecial);
}

.desplazar7 {
    background: var(--ShadowBoxB);
    position: relative;
    left: 7px;
    top: 7px;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 5px rgba(128, 128, 128, 0.784));
    padding: 15px;
}

.desplazarB {
    background: white;
    border-radius: 15px;
    width: max-content;
}

hr+*>h3,
hr+*>*>h3 {
    text-transform: uppercase;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}

.fleX {
    display: flex;
    justify-content: center;

}

.fleXCentCmn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexAround {
    display: flex;
    justify-content: space-around;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

hr+*>*>h3+h1,
hr+*>h3+h1 {
    font-size: 39px;

}

::-webkit-scrollbar {
    width: 0px;
}

.iconB {
    padding: 4px 4px !important;
    border-radius: 7px !important;
    display: flex !important;
    width: 40px !important;
    height: 40px !important;
    align-items: center !important;
    justify-content: center !important;

}

.iconF {

    text-align: center;
    padding: 4px 4px !important;
    border-radius: 7px !important;
    text-transform: lowercase !important;
    color: white !important;
    -webkit-text-stroke: 2px !important;
    -webkit-text-stroke-color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 30px !important;
    font-weight: 1000 !important;
    width: 40px !important;
    height: 40px !important;
    background: white;
    box-sizing: border-box;
}

.redes ul {
    display: flex;
    width: 275px;
    justify-content: space-evenly;
    position: relative;
    right: 45px;

}

.redes ul,
.redes li {
    padding: 0;
}

.redes li a img {
    top: 0;
    left: 0;
    width: 40px !important;

}

.Tarjetas {
    width: var(--vRectW) !important;
    height: var(--vRectH) !important;
}

.Tarjetas h4 {
    margin-bottom: 10px;
}

.Tarjetas .desplazar7 {

    width: calc(var(--vRectW) - 30px) !important;
    height: calc(var(--vRectH) - 30px) !important;
}

.Tarjetas span>a,
.Tarjetas span,
.Tarjetas span>a>img {
    border-radius: 15px;
    width: calc(var(--semiCuaW) - 30px) !important;
    height: calc(var(--semiCuaH) - 30px) !important;

}

.Tarjetas .desplazar7 div {
    margin: 10px 0;
}

.Tarjetas p {
    margin: 0;
}

.Tarjetas span+div {
    display: flex;
    justify-content: space-between;
}

.Tarjetas a:last-child {
    display: block;
    text-align: center;

}

.Tarjetas a:last-child,
.Tarjetas a:last-child:visited,
.Tarjetas a:last-child:link {
    color: cadetblue;
    text-decoration: none;
}

@media screen and (max-width:1020px) {
    a {
        font-size: medium;
    }

}

@media screen and (max-width:650px) {

    hr+*>*>h3+h1,
    hr+*>*>h3,
    hr+*>h3+h1,
    hr+*>h3 {
        text-align: center !important;
    }

    p,
    label {
        font-size: calc(10px + 0.5vw);
        ;
    }

    :root {
        --MenuFontS: calc(4px + 0.75vw)
    }
}

.menu {
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    user-select: none;
}

.menu :link,
.menu :any-link {
    text-decoration: none;
    color: initial;
}

.menu li a {

    padding: 0 2vw;
    width: max-content;
}

.menu,
.menu li a {
    margin: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {

    border-radius: 15px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.73), rgb(255, 255, 255));
    filter: drop-shadow(1px 2px 5px rgb(63, 63, 63, 0.8));

}

@keyframes puntero {
    0% {
        color: transparent;
    }

    10% {
        color: rgba(221, 85, 108, 0.35);
    }

    100% {
        color: var(--RouseEspecial);
    }
}

.MasterSlider {
    grid-area: slider;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 80vw;

}

.slider-container {

    overflow: hidden;

}

.slider-list {
    list-style: none;
    display: flex;
    height: max-content;
    overflow: hidden;
    overflow-x: scroll;
    padding: 30px;
    scrollbar-color: transparent transparent;

}

.slider-item {
    margin: 0 2.5vw 0 0;
}

.slider-controls {
    display: flex;
    align-items: center;
    width: 20px;
    z-index: 2;
}

.slider-button {
    box-sizing: border-box;
    font-size: calc(15px + 1.25vw);
    cursor: pointer;
    background: rgba(209, 191, 224, 0.712);
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50%;
    border: violet;
}

.slider-button:disabled:hover {
    background: rgba(114, 53, 53, 0.356) !important;
}

.slider-button:hover {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 255, 0.719));
}

.modal {
    display: none;
    position: relative;
    z-index: 1;
    overflow: visible;
    bottom: 30px;
}

.modal span {
    display: flex;
    justify-content: right;
    align-items: end;
    width: 100%;
    height: 40px;
    background-image: url('../img/icon/github_icon.webp') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.puntero {
    animation: puntero 1.75s infinite;
}

.menuSkins {
    filter: blur(0.65px) var(--ShadowBox);

}

.menuSkins:hover {
    backdrop-filter: blur(1px) opacity(0.2);
    filter: drop-shadow(5px 5px 1.5px rgb(255, 0, 0));
    color: linear-gradient(145deg, rgb(255, 0, 0), rgb(128, 128, 128));
}


.menuButton {
    background:linear-gradient(135deg, rgb(255, 135, 135), rgb(202, 24, 24));
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);
    transition: background-image 1.25s ease-out; 
    -webkit-transition: background-image 1.25s ease-out;
    -moz-transition: background-coimage 1.25s ease-out;
    -o-transition: background-image 1.25s ease-out;
  }
 
  .menuButton:hover {
    background: linear-gradient(135deg, rgb(65, 77, 243), rgb(8, 7, 95));
  }
