:root{
    --navColor: rgba(12, 0, 80, 0.743);
    --radi: 15px 15px 45px;
}
*{
       text-transform: capitalize;
    }
body{
    display: grid;
    grid-template-areas: 'a a a''b b c''d d d';
   background-image: url("https://cdn.eldoce.tv/sites/default/files/styles/site_nota_slider_preview/public/3%20Villa%20general%20belgrano%20-%20c%C3%B3rdoba.jpg?itok=MuHZftYZ");
    background-size: 99vw;
    background-repeat: no-repeat;
    background-position: center;

}
nav{
   
    margin: 0 0 1vw ;
    position: fixed;
    display: grid;
    grid-area: a;
    background-color: var(--navColor);
    border-radius: var(--radi) ;
    border: solid transparent;
    width: 94%;
    height: calc(35px + 10vw);
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    
}
nav>img{
    grid-row-start: 2;
    grid-column-start: 1;
    border-radius: var(--radi);
    width: 27vw;
    
}
nav>div{
    margin: calc((35px + 5vw)/2) 0px 0px 0px ;
    grid-row-start: 2;
     grid-column-start: 3;
}
nav  ul{
    display: inline-block;
    height: 30px;
    overflow: visible;
    position: relative;
     list-style-type: none;
    width: min-content;
}
nav h1{
   
    margin: 0px 0px 0px 0px;}
nav  ul  li{
    box-sizing: content-box;
    width: 150% ;
    visibility: collapse;
    background-color: var(--navColor);
}
ul:hover  li{visibility: visible;}
h1{ 
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 3px 3px 1px rgba(0, 0, 255,0.5);
}

  
  @keyframes slidein {
    from {
      margin-left: 300%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
main{

    margin: calc(144px + 6.5vw) 3vw 3vw 3vw ;
    grid-area: b;

}
main>iframe{
    width: calc((100vw / 3 * 2) - 6vw);
    height: calc((100vw / 3 * 2 / 16 * 9) - 6vw) ;
}
section{
    margin: calc(144px + 6.5vw) 3vw 3vw 3vw ;
    grid-area: c;
}
footer{
    grid-area: d;
}
menu{
    display: none;
    position: absolute;
}